---
apis:
  access_token:
    host: ""
    path: ""
    app_id: ""
    app_secret: ""
  
  subscriber_info:
    host: ""
    path: ""

provider:
  email_ses:
    region: ""
    access: ""
    secret: ""

template:
  email:
    hello:
      sender: "noreply@world.com"
      subject: "NoReply"
      file: hello.html
